<header>
  <nav>
      <img src="static/assets/logo_blanc.png" class="white-coffee" alt="Coffee_logo">

      <u>
          <li><a href="/schedulemanagement">Schedule</a></li>
          <li><button type="submit" class="btn-logout"><a href="/login">LOG OUT</a></button></li>
      </u>
  </nav>
</header>
<section>
    <img href="#" class="round-image" alt="" />
  
    <div class="user-control">
        <p class="rectangle-one"><%= users.firstname %></p>
        <p class="rectangle-one"><%= users.lastname %></p>
        <p class="rectangle-one"><%= users.email %></p>
    </div>
  
    <div>
        <h2>Your personal schedule</h2>
  
        <div>
            <table>
                <tr>
                    <th>Day </th>
                    <th>Start 🕑</th>
                    <th>End 🕑</th>
                </tr>

                <% for(let i =0; i < mySchedule.length; i++) { %>
                    <tb>
                        <tr><%= mySchedule[i].day %></tr>
                        <tr><%= mySchedule[i].start_time %></tr>
                        <tr><%= mySchedule[i].end_time %></tr>
                    </tb>
                <%}%>
            </table>
      </div>
    </div>
</section>
  


<!-- <ul class="user-schedules">
<% for(let i =0; i < mySchedule.length; i++) { %>
<li class="individual-users"><b>User name: </b><%= mySchedule[i].user_name %> <b>Day: </b><%= mySchedule[i].day %> <b>Start time: </b><%= mySchedule[i].start_time %> <b>End time: </b><%= mySchedule[i].end_time %></li>
<%} %>
</ul> -->