<header>
  <nav>
      <img src="static/assets/logo_blanc.png" class="white-coffee" alt="Coffee_logo">

      <u>
          <li><a href="/schedulemanagement">Schedule</a></li>
          <li><button type="submit" class="btn-logout"><a href="/login">LOG OUT</a></button></li>
      </u>
  </nav>
</header>
<section >
    <h2 style="color:white; text-align:center;">Profile Details</h2>

    <div class="main-wrapper">
        <img src="static/assets/Profile_pic.jpg" class="round-image" alt=" my profile pic" /> 

        <p class="rectangle-one"><%= user.first_name %></p>
        <p class="rectangle-one"><%= user.last_name %></p>
        <p class="rectangle-one"><%= user.email %></p>
    </div>
</section>

<section>
    <h2 style="color:white; text-align:center;">Your personal schedule</h2>
  
    <div class="home-wrapper">
        <table>
            <tr>
                <th>Name</th>
                <th>Day </th>
                <th>Start 🕑</th>
                <th>End 🕑</th>
            </tr>


                <% /* %>
                <% for(let i =0; i < mySchedule.length; i++) { %>
                    <tb>
                        <tr><%= mySchedule[i].day %></tr>
                        <tr><%= mySchedule[i].start_time %></tr>
                        <tr><%= mySchedule[i].end_time %></tr> -->
                    </tb>
                <%}%> 
                <% */ %>
        </table>
    </div>
</section>
  