<header>
    <nav>
        <img src="static/assets/logo_blanc.png" class="white-coffee" alt="Coffee_logo">

        <ul>
            <li><a style="color: white;" href="/schedulemanagement">Schedule</a></li>
            <li><button type="submit" class="btn-logout btn-hover"><a  style="color: black;" href="/login">LOG OUT</a></button></li>
        </ul>
    </nav>
</header>
<div>
    <h2>All your lovely people<span>&#128520;</span></h2>

    <div>
        <table>
            <tr>
                <th>Personal ID</th>
                <th>Name</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>

            <% for(let i = 0; i < schedule.length; i++) { %>
                <tr>
                  <td><%= schedule[i].user_id %></td>
                  <td><%= schedule[i].user_name %></td>
                  <td><%= schedule[i].day %></td>
                  <td><%= schedule[i].start_time %></td>
                  <td><%= schedule[i].end_time %></td>
                </tr>
            <% } %>
        </table>
    </div>
</div>
